<h1>Stupid Coaching</h1>
<div id="you">
  <p><%= @message %></p>
  <p><em>-You</em></p>
</div>
<div id="coach">
  <p><%= @answer %></p>
  <p><em>-Coach</em></p>
</div>
<%= link_to "Ask a new question", ask_path %>
